body {
	overflow-x: hidden;
  overflow-y: auto;
  max-height: 650px;
	margin: 0;
	padding: 0;
	color: #333;
	font-family: Helvetica, Tahoma, Verdana, sans-serif;
}

body.popup {
	width: 400px;
}

#notifications {
  font-size: 14px;

}


.date {
	font-size: 10px;
	 float: right;
color:#A4A4A4
}

.notification {
	border-bottom: 1px solid #FFF;
	padding: 5px;
	background: #EEE;

}

.no-notifications {
  padding: 5px;
}
.notification strong{
color:#369;

}
.notification:hover {
	background: #FFF;
	cursor: pointer;
}

.notification h4, .no-notifications  h4 {
	margin: 0px;
	font-weight: normal;
}

.no-notifications h4 {
  text-align: center;
}

#control {
  font-size: 20px;
}

#control {
  background-color: #DDD;
  padding: 5px;
  line-height: 26px;
}

#control:after {
  content: " ";
  clear: both;
}

#control .forceRefresh {
  float: right;
}

#control i {
  cursor: pointer;

}


.group:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  background: white;
  margin: auto;
  padding: 1em;
  width: 98%;
}
h1 {
  text-align: center;
}
ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul.tabs li {
  border: gray solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
}
ul.tabs li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
ul.tabs li.active {
  background: black;
}
ul.tabs li.active a {
  color: white;
}
.clr {
  clear: both;
}
article {
  border-top: gray solid 1px;
  padding: 0 1em;
}
